    <div id="login">
        <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend class="legend">Ingresar</legend>

            <!-- Text input-->
            <div class="divUser">
              <div class="form-group">
                <label class="col-md-5 control-label" for="textinput">Usuario</label>  
                <div class="col-md-5">
                <input id="textinput" name="textinput" type="text" placeholder="usuario" class="form-control input-md" required="">
                  
                </div>
              </div>
            </div>

            <!-- Password input-->
            <div class="divPass">
              <div class="form-group">
                <label class="col-md-5 control-label" for="passwordinput">Clave</label>
                <div class="col-md-5">
                  <input id="passwordinput" name="passwordinput" type="password" placeholder="clave" class="form-control input-md" required="">
                  
                </div>
              </div>
            </div>

            <!-- Button -->
            <div class="divBtnLogin">

              <div class="btnLogin">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary login"><span class="spanLogin">Ingresar</span></button>
              </div>
            </div>
        </fieldset>
    </form>
</div>
