
    
<header class="marquee">
  <div class="container">

      <span class="brand-name">URL-Collector</span>
        <h1>Todas tus URLs en un solo lugar</h1>
        <p>Created and Maintained by <a href="#">Jhymer Martínez</a>
        </p>
  </div>
 <a href="#" class="btn btn-default btn-cta">
  <i class="fa fa-chevron-circle-right">  
  </i> Registrate
 </a>

  <span class="o"> &nbsp;&nbsp;o&nbsp;&nbsp;</span> 

 <a href="#/login" class="btn btn-default btn-cta">
  <i class="fa fa-chevron-circle-right">  
  </i> Ingresa
 </a>


</header>



