body {
	margin-top: 50px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
}

header.marquee {
	position: relative;
	
	padding: 20px 0;
	text-align: center;
	color: #fff;
	background-color: #563D7C;
	background-image: url(../images/background1.png);
}

@media all and (max-width: 600px){
	header.marquee {
		position: relative;
		padding: 10px 0;
	}
}


header.marquee .brand-name {
	padding-top: 4%;
	display: block;
	font-size: 60px;
	line-height: 1;
}

@media all and (max-width: 600px){
	header.marquee .brand-name {
		font-size: 40px;
	}
}





header.marquee .options{
	margin-top: 25px;
	margin-bottom: 25px;
}

header.marquee .o{

}
header.marquee .btn-cta{
	padding: 10px 15px;
	
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
}


header.marquee .btn-cta:hover {
	padding: 10px 15px;
	
	border: 1px solid #fff;
	background-color: #fff;
	color: #000000;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
}



header.marquee .login-title{
	padding-top: 2%;
	display: block;
	font-size: 40px;
	line-height: 1;
}


