
html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.carousel_top{

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(125,126,125,1) 6%, rgba(125,126,125,1) 6%, rgba(14,14,14,1) 50%, rgba(125,126,125,1) 94%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,1)), color-stop(6%,rgba(125,126,125,1)), color-stop(6%,rgba(125,126,125,1)), color-stop(50%,rgba(14,14,14,1)), color-stop(94%,rgba(125,126,125,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(125,126,125,1) 6%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 50%,rgba(125,126,125,1) 94%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(125,126,125,1) 6%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 50%,rgba(125,126,125,1) 94%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(125,126,125,1) 6%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 50%,rgba(125,126,125,1) 94%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(125,126,125,1) 6%,rgba(125,126,125,1) 6%,rgba(14,14,14,1) 50%,rgba(125,126,125,1) 94%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.carousel-image{
	margin: 0 auto 0 auto;

}