body {
	margin-top: 50px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
}

header.marquee {
	position: relative;
	
	padding: 20px 0;
	text-align: center;
	color: #fff;
	background-color: #563D7C;
	background-image: url(../images/background1.png);
}

@media all and (max-width: 600px){
	header.marquee {
		position: relative;
		padding: 10px 0;
	}
}


header.marquee .brand-name {
	padding-top: 4%;
	display: block;
	font-size: 60px;
	line-height: 1;
}

@media all and (max-width: 600px){
	header.marquee .brand-name {
		font-size: 40px;
	}
}





header.marquee .options{
	margin-top: 25px;
	margin-bottom: 25px;
}

header.marquee .o{

}
header.marquee .btn-cta{
	padding: 10px 15px;
	
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
}


header.marquee .btn-cta:hover {
	padding: 10px 15px;
	
	border: 1px solid #fff;
	background-color: #fff;
	color: #000000;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
}



header.marquee .login-title{
	padding-top: 4%;
	
	text-align: left;
	display: block;
	font-size: 40px;
	line-height: 1;
}



/*login*/
.login{

	margin: 0 auto 0 auto;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 300;
	color: #565656;
	width: 60%;
}


@media all and (max-width: 1000px){
	.login{
		margin-left: -90px;
		width: 120%;
	}
}



@media all and (max-width: 900px){
	.login{
		margin-left: -100px;
		width: 130%;
	}
}

@media all and (max-width: 400px){
	.login{
		margin-left: -60px;
		width: 150%;
	}
}

.form-control {
	border-radius: 3px;
}

.logSide{
	margin-top: 20px;
}


@media all and (max-width: 1000px){
	header.marquee .login-title{
		font-size: 38px;
	}
}

@media all and (max-width: 900px){
	header.marquee .login-title{
		font-size: 35px;
	}
}


@media all and (max-width: 400px){
	header.marquee .login-title{
		font-size: 30px;
	
	}
}

.btn {
	border-radius: 3px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: 0 none;
	padding: 12px 20px;
	-webkit-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}

.btn-success {
	background: #00BF6F;
	color: #ffffff;
}

.no-pass{
	font-size: 14px;
}
.no_account {
	border-top: 4px solid #e5e5e5;
	padding-top: 20px;
	font-size: 14px;
}