
    
<header class="marquee" >
  <div class="container">

      <span class="brand-name">URL-Collector</span>
        <h2>Todas tus URLs en un solo lugar</h2>
        <p>Created and Maintained by <a href="https://github.com/JhymerMartinez" target="_blank">Jhymer Martínez</a>
        </p>
  </div>
  <div class="options">
   <a href="/#!/signup" class="btn btn-default btn-cta">
     Registrate
   </a>
     <span class="o"> &nbsp;&nbsp;o&nbsp;&nbsp;</span> 
  <a href="/#!/login" class="btn btn-default btn-cta">
     Ingresa
   </a>
 </div>

</header>



