<section class="section-login">
  <header class="marquee" >
    <div class="container-login-title">
        <span class="login-title">Ingresa para almacenar tus URLs</span>
    </div>
  </header>

  <div class="container" >
    <div class="login">
        <div id="row">
          <div class="col-xs-7 col-xs-offset-2">
            <div class="logSide">
              <form method="post" id="login_form" name="login_form" class="" ng-submit="login()">
                <div class="form-group">
                  <label class="label-user">Usuario o Email</label>
                  <input id="username" name="username" type="text" class="form-control input-lg" ng-model="user.username" >
                </div>
                <div class="form-group">
                  <label class="label-pass">Contraseña</label>
                  <input id="password" name="password" type="password" class="form-control input-lg" ng-model="user.password" >
                </div>
                <div class="form-group clearfix">
                  <a class="pull-left no-pass" href="#!/reset-password">¿Olvidó su contraseña?</a>
                  
                  <button id="log_in" class="pull-right btn btn-success loginBtn" type="submit">Ingresar</button>
                </div>
              </form>
              <p class="no_account" >¿No tienes una cuenta? <a href="#!/sign-up" class="no_account-link">Registrate gratis</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>