<!DOCTYPE html>
<html lang="es">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> <%=title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="static/css/login-box.css">

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/">Inicio</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                       
                          <a href="/login">Ingresar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
          </nav>  
        

<section class="section-login">
  <header class="marquee" >
    <div class="container-login-title">
        <span class="login-title">Ingresa para almacenar tus URLs</span>
    </div>
  </header>

  <div class="container" >
    <div class="login">
        <div id="row">
          <div class="col-xs-7 col-xs-offset-2">
            <div class="logSide">
              <form method="post" id="login_form" name="login_form" class="" action="/login">
                <div class="form-group">
                  <label class="label-user">Usuario o Email</label>
                  <input id="username" name="username" type="text" class="form-control input-lg" ng-model="user.username" >
                </div>
                <div class="form-group">
                  <label class="label-pass">Contraseña</label>
                  <input id="password" name="password" type="password" class="form-control input-lg" ng-model="user.password" >
                </div>
                <div class="form-group clearfix">
                  <a class="pull-left no-pass" href="#!/reset-password">¿Olvidó su contraseña?</a>
                  
                  <button id="log_in" class="pull-right btn btn-success loginBtn" type="submit">Ingresar</button>
                </div>
              </form>
              <p class="no_account" >¿No tienes una cuenta? <a href="/signup" class="no_account-link">Registrate gratis</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>



    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/modernizr.js"></script>

  </body>
</html>